label,
div span,
div span span {
  color: #435960;
  font-weight: bold;
}
input {
  font-size: 1em;
  padding: 0.5rem;
}
button {
  margin-top: 20px;
  margin-right: 10px;
  background-color: #eeeeee;
  padding: 1rem;
  border-radius: 4px;
  font-size: 1rem;
  
  &:hover {
    background-color: #cfd8dc;
  }
  
  &:disabled {
    background-color: #eeeeee;
    color: #cccccc;
    cursor: auto;
  }
}
div span {
  color: #435960;
}

