/* You can add global styles to this file, and also import other style files */
* {
  font-family: 'Roboto', sans-serif;
}
.validation-messages {
  margin-top: 10px;
  padding: 10px;
  max-width: 277px;
  border: 1px solid #ee5151;
  background-color: #f16f89;
  font-style: oblique;
}